body{
    background-color: #f1f1f1
}
header{
    padding-left: 300px
}
header > div:nth-child(2){
    background-color: white;
    border: #bfbfbf 1px solid;
    min-height: 48px
}
.nav_bar{
    padding: 0px;
    list-style: none;
}
.nav_item{
    display: inline-block;
    color: #5d5d5d;
    font-family: 'Raleway';
    line-height: 26px;
    text-transform: none;
    letter-spacing: 0px;
    padding-top: 10px;
    height: 48px;
    cursor: pointer;
    margin-right: 20px
}
.nav_item:hover{
    border-bottom: #5d5d5d 4px solid
}
.nav_item > div{
    position: relative
}
.side_bar{
    position: fixed;
    top: 0;
    left: 10px;
    bottom: 0;
    width: 250px;
    background-color: #23282d;
}
.side_bar_item{
    display: block;
    font-family: 'Raleway';
    line-height: 26px;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: bold;
    cursor: pointer;
    min-height: 48px;
    margin-bottom: 10px
}
.side_bar_item > div{
    width: 100%;
    padding: 10px;
    color: white;
}
.side_bar_item:hover{
    background-color: #0073aa;
    color: white
}
.side_bar_item:first-child{
    margin-top: 10px
}
header .sigle{
    width: 100%;
    height: 70px;
}
.sub_side_bar{
    width: 100%;
    background-color: #32373c;
    display: none
}
.sub_side_bar_item{
    padding-left: 20px;
    height: 48px;
    color: grey;
    border-left: #0073aa 2px solid;
}
.sub_side_bar_item:hover{
    color: white
}
.mobile_nav{
    display: none;
    text-align: center;
    color: #2b2b2b;
    font-family: 'Raleway';
    line-height: 26px;
    text-transform: none;
    letter-spacing: 0px;
    font-weight: bold;
    padding-top: 5px;
    font-size: 18px;
    width: 100%;
}
.side_menu{
    position: absolute;
    left: 0;
    top: 3px;
    width: 42px;
    height: 38px;                     
}
.navs_menu{
    position: absolute;
    left: 50px;
    top: 0;
    width: 48px;
    height: 42px;
}
.search_menu{
    position: absolute;
    right: 2px;
    top: 5px;
    width: 38px;
    height: 38px;                     
}
.search_box{
    position: absolute;
    right: 10px;
    top: 10px;
    width: 250px;
    height: 38px
}
.side_bar_item img{
    float: left;
    width: 35px;
    height: 35px;
    margin-right: 20px
}
@media(max-width: 800px){
    .search_box{
        position: fixed;
        right: 5px;
        top: 60px;
        height: 50px;
        width: 300px;
        display: none
    }
    .search_box .form-control{
        height: 50px
    }
    .mobile_nav{
        display: block;
    }
    .nav_bar{
        display: none;
        text-align: center
    }
    .side_bar{
        display: none;
        top: 60px;
        overflow-y: scroll
    }
    .sigle{
        display: none
    }
    header{
        padding: 5px
    }
    
    .nav_item{
        display: block;
        margin-top: 20px;
        text-align: center
    }
}